@charset "utf-8";

/* small desktop / iPad	
-------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1219px){

	.only_pc {display: none;}

	#wrap {min-width: 320px;}
	* {font: 11px "Apple SD Gothic NEO", "Apple Gothic", MalgunGothic, "Malgun Gothic", 'Noto Sans KR', '돋움', 'dotum', tahoma, 'MalgunGothic', sans-serif; padding: 0; margin: 0;}
	.wrap_920 {width: 100%;}

	/*///////////////////// header /////////////////////*/



	/*///////////////////// header End /////////////////////*/
	/*
	d
	e
	m
	a
	r
	c
	a
	t
	i
	o
	n
	*/
    /*///////////////////// container /////////////////////*/
    
}